<!-- <footer class="footer" style="background-color: white;padding-top: 10px;">
      <div class="container">
      <div class="row">
      	
      	<p class="text-center"> &copy; 2017, Shiv Prakash Keshri &nbsp;|&nbsp; Contact Me : 07870091089 &nbsp;|&nbsp; Mail Me : <a href="#">shivprakashkeshri@gmail.com</a> &nbsp;|&nbsp; Catch Me : &nbsp;
			<a href="https://www.facebook.com/siva.keshri" target="_blank">
			<i class="fa fa-facebook-square fa-1x" style="color:#3b5998"></i>
			</a>

			<a href="https://twitter.com/SIVA_KESHRI" target="_blank">
			<i class="fa fa-twitter-square fa-1x" style="color:#4099FF"></i>
			</a>

			<a href="https://in.linkedin.com/in/shiv-prakash-keshri-8990627b" target="_blank">
			<i class="fa fa-linkedin-square fa-1x" style="color:#007bb6"></i>
			</a>

			<a href='https://plus.google.com/+ShivaKeshri' target="_blank">
			<i class="fa fa-google-plus-square fa-1x" style="color:#D34836"></i>
			</a> 

      </p>

      </div>
       
      </div>
    </footer> -->

<nav class="navbar navbar-default navbar-fixed-bottom" style="padding-top: 15px;">
  <div class="container-fluid">
  <p class="text-center"> &copy; 2017, Shiv Prakash Keshri &nbsp;|&nbsp; Contact Me : +91-7870091089 &nbsp;|&nbsp; Mail Me : <a href="#">shivprakashkeshri@gmail.com</a> &nbsp;|&nbsp; Catch Me : &nbsp;
			<a href="https://www.facebook.com/siva.keshri" target="_blank">
			<i class="fa fa-facebook-square fa-1x" style="color:#3b5998"></i>
			</a>

			<a href="https://twitter.com/SIVA_KESHRI" target="_blank">
			<i class="fa fa-twitter-square fa-1x" style="color:#4099FF"></i>
			</a>

			<a href="https://in.linkedin.com/in/shiv-prakash-keshri-8990627b" target="_blank">
			<i class="fa fa-linkedin-square fa-1x" style="color:#007bb6"></i>
			</a>

			<a href='https://plus.google.com/+ShivaKeshri' target="_blank">
			<i class="fa fa-google-plus-square fa-1x" style="color:#D34836"></i>
			</a> 

  </div>
</nav>

<!-- 



    	<div class"row" style="background-color: white; height: 50px;">
    		<div class="container" style="text-align: center;padding: 10px">
      			<footer>
        			<p>&copy; 2016, Shiv Prakash Keshri</p>
      			</footer>
    		</div> 
    	</div>
 -->
